.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
*.code-workspace
.nf-test*
.nf-test/
test-datasets/

# IMPaCT-data
params.yaml
log*
impact_qc/assets/fastq_screen_conf_db/Human/
impact_qc/assets/fastq_screen_conf_db/Mouse/
